._7-uuuuu {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.RECLAMS78 {
    height: auto;
    min-height: 58px;
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
    position: relative;
    background: #f5f5f5;
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.RECLAMS {
    /* display: flex; */
    /* transition: all .5s; */
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

.liLi {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    text-align: center;
}