.controlBlockImgSearch {
    /* display: flex;
    row-gap: 400px;
    width: 200px; */
    /* overflow-x: auto; */
}

.blockImgSearch {
    width: 200px;
    height: 300px;
    background: rgb(97, 96, 96);
    color: rgb(0, 0, 0);
}

.imgSearch {
    width: 200px;
}