.controlBack-1 {
    padding: 50px 0 0 0;
}

.CartBuy {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding-top: 50px;
}

.ControlBlockImgCartBuy {
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ControlBlockImgCartBuy img {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ControlBlockTextCartBuy {
    width: 440px;
    position: relative;
    height: 500px;
}

.ControlBlockTextCartBuyName {
    font-size: 32px;
    font-weight: 600;
}

.ControlBlockTextCartBuyTitle {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0 50px 0;
}

.ControlBlockTextCartBuyPrice {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0 1px 0;
    margin-left: 20px;
}

.ControlBlockTextCartBuySize {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0 10px 0;
}

.ControlBlockTextCartBuyDescription {
    width: 405px;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 0 15px 0;
}

.ControlBlockTextCartBuyBtnBuyBlock {
    position: relative;
    flex-shrink: 0;
    height: 500px;
    width: 440px;
    padding: 0 0 0px 100px;
}

.ControlBlockTextCartBuyBtnBuy {
    font-size: 22px;
    border-radius: 20px;
    width: 160px;
    border-color: none;
    background: rgb(98, 97, 97);
    height: 50px;
    margin-left: 20px;
}

.blockFixed {
    position: sticky;
    top: 10px;
    background: rgb(239, 239, 239);
    width: 200px;
    height: 110px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.5);
}